body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    color: white;
    font-family: 'Matrix Code NFI', sans-serif;
    text-shadow: 0 0 2px #00FF41,0 0 1px #00FF41;
}


#Matrix {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure it's in the background */
}

.linksMain, .currentProjects {
    position: relative; /* Ensure they are above the canvas */
    z-index: 1;
}

.linksMain {
    display: flex;
    justify-content: space-between;
    font-weight: normal;
    font-style: normal;
    color: white;
    position: fixed; /* This makes the header fixed at the top */
    top: 0; /* Ensure it stays at the top */
    left: 0; /* Align it to the left */
    right: 0; /* Make sure it covers the full width */
    background-color: black;
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    z-index: 1000; /* Ensure it stays above other elements */
}

.linksMain a {
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    color: #00FF41;
}

nav.linksMain a:hover {
    text-shadow: 0 0 5px #00FF41,0 0 5px #00FF41, 0 0 5px;;
}

header {
    position: fixed; /* This makes the header fixed at the top */
    top: 0; /* Ensure it stays at the top */
    left: 1em; /* Align it to the left */
    right: 1em; /* Make sure it covers the full width */
    background-color: black;
    padding: 20px;
    text-align: center;
    box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
    border-bottom-left-radius: 0.8em;
    border-bottom-right-radius: 0.8em;
    z-index: 1000; /* Ensure it stays above other elements */
}

#currentProjects {
    text-align: center;
    font-size: 150px;
    text-shadow: 0 0 5px #00FF41,0 0 5px #00FF41, 0 0 5px;
    font-family: 'Matrix Code NFI';
    src: url('../fonts/matrix code nfi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}